.top_news_container{
    /* border: 2px solid red; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 43%;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.top_news_left_div{
    margin: 6px;
    /* border: 2px solid green; */
}

.top_news_right_div{
    border-left: 1px solid grey;
    padding: 4px;
    height: 580px;
    overflow: hidden;
}

.topnews_title{
    font-size: 16px;
    font-family: sans-serif;
    border-bottom: 1px solid;
    margin: 4px;
    font-weight: 500;
    padding-bottom: 2px;
}

.topnews_title:hover{
    color: red;
}

.city_news_main_div{
    box-shadow: rgba(115, 140, 158, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 43%;
    margin: auto;

}

.city_news_div{
    border: 2px solid red;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}