.top_div{
  /* border: 2px solid red; */
  background-color: #d8d8d8;
}

.div_multilanguage {
  /* border: 2px solid red; */
  /* text-align: center; */
  width: 24%;
  font-family: sans-serif;
  margin: auto;
  background-color: #d8d8d8 ;
}

.div_multilanguage li {
  list-style: none;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  padding: 8px;
  cursor: pointer;
}

.div_multilanguage li:nth-child(1){
  border-top: 5px solid red;
}

.follow_icon{
  width: 32px;
  height: 32px;
}

.Followus_div{
  /* border: 2px solid red; */
  position: relative;
  top: 13px;
  left: 15px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
}

.mainlogo{
  width: 327px;
  height: 37px;
}

.logo_and_follow_sec{
  /* border: 2px solid orange; */
  display: flex;
  padding-bottom: 30px;
  background-color: #efefef ;
}

.mainLogo_div{
  /* border: 2px solid red; */
  position: relative;
  left: 500px;
  top: 10px;
}

.date_div{
  /* border: 2px solid green; */
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  font-size: 13px;
}
/*End logo css================>>>>>>> */